.all-functions {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature {
    flex-basis: 22%;
    height: 220px;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.feature__title--icon {
    font-size: 2rem;
    display: block;
    height: 40%;
}

.feature__headline {
    height: 50%;
}

.feature__description {
    height: 50%;
}

@media (max-width: 768px) {

    .all-functions {
        justify-content: space-around;
    }

    .feature {
        flex-basis: 40%;
        height: 180px;
    }

}

@media (max-width: 480px) {

    .feature {
        flex-basis: 100%;
    }

}
