.form {
    font-family: 'Mali', cursive;
    border: 5px double #ffcc66;
    padding: 4ex;
    width: 50vw;
    text-align: center;
    margin: 0 auto;
}

.form__input {
    height: 4ex;
    width: 40ch;
    text-align: center;
    margin: 1ex 5ch;
}

.form__input-send {
    margin: 1ex;
    width: 15ch;
    height: 4ex;
}

@media (max-width: 850px) {
    .form__input {
        height: 4ex;
        width: 80%;
        text-align: center;
        margin: 1ex auto;
    }
    .form p {
        font-size: 0.7rem;
    }
}

@media (max-width: 400px) {
    .form {
        width: 70vw;
    }
}