/********* JIRA HERO TASKS **********

1.1.Jedno duże zdjęcie 100vw.
1.2.Jeden duży nagłówek na zdjęciu.
1.3.Dwa zdania opisu.
1.4.Odniesienie do formularza (jeśli istnieje)

2. Umieścić w zajawce więcej treści niż można w tej sekcji strony 
wyświetlić jednocześnie. Wstawić w to miejsce pokaz slajdów, który:
- miałby własną nawigację pomiędzy slajdami,
- same slajdy przewijałyby się w nim automatycznie co kilka sekund,
- automatyczne przewijanie ustawałoby w momencie, gdy użytkownik sam 
    wejdzie w interakcję z menu pokazu slajdów


TODO:
- Zamiast img dać div i background-image, zeby dopasować tło do rwd.
- Dopasować wielkości obrazków i wyśrodkować tło.
- Na każdym slajdzie inny header.
    - Pizzerium, zamów swoją ulubioną pizzę!
    - ...
    - Zapisz się do newslettera (zdjecie z deskami po prawej).


************************************/

.hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__slider{
	height: 100vh;
	overflow: hidden;
}

.hero__slider figure div{
	float: left;
	width: 20%;
}

.hero__slider figure img{
	float: left;
	width: 100%;
}

.hero__slider figure{
	animation: 30s slide infinite;
	left: 0;
	margin: 0;
	width: 500%;
	position: relative;
}

@keyframes slide {
	0%{left: 0%;}
	16%{left: 0%;}
	18%{left: -100%;}
	32%{left: -100%;}
	34%{left: -200%;}
	48%{left: -200%;}
	50%{left: -300%;}
	64%{left: -300%;}
	66%{left: -200%;}
	80%{left: -200%;}
	82%{left: -100%;}
    98%{left: -100%;}
    100%{left: 0%;}
}