.main-functions {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 0 2% 0;
}

.main-functions-container {
    width: 70%;
}

.main-functions__heading {
    font-size: 2.5rem;	
    text-align: center;	
    padding: 2rem;	
    font-family: 'Lato';
}	

.main-functions__box {		
    display: flex;	
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;   
}	

.main-function__img-container1,
.main-function__img-container2,
.main-function__img-container3,
.main-function__img-container4 {	
    display: inline-block;	
    height: 400px;
    flex-basis: 24%;	
    background: #ffaa0009;
    border-radius: 15px;
}	

.main-function__img-container1 {
    background-image: url(/img/main-functions1.jpg);
    background-size: cover;
}

.main-function__img-container2 {
    background-image: url(/img/main-functions2.jpg);
    background-size: cover;
}

.main-function__img-container3 {
    background-image: url(/img/main-functions3.jpg);
    background-size: cover;
}

.main-function__img-container4 {
    background-image: url(/img/main-functions4.jpg);
    background-size: cover;
}

.main-function__img-container:hover {
    background: #ffe3ab;
}

.main-function__img {	
    max-width: 14rem;	
    height: auto;	
    padding: 15px;	
}	

.main-function__caption {	
    font-size: 2rem;	
    text-align: center;	
    font-family: 'Mali';
    color: #ffe3ab00;
    height: 100%;
}

.main-function__caption:hover {
    color: #ffe3ab;
    background: rgba(0, 0, 0, 0.719);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .7s;
}

@media (max-width: 935px) {

    .main-function__img-container {
        margin: 5px;
    }    
}
