.menu-container {
    color:whitesmoke;
    font-family: 'VT323', monospace;
    background: grey;
}
.menu {
    height: 97vh;
    width: 97vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}
.menu__title {
    font-size: 10rem;
    text-align: center;
    margin: 2rem 3rem 0.5rem;
    text-shadow: 0 0 10px;
    font-weight: 300;
}
.menu__button {
    list-style: none;
    height: 3.5rem;
    width: 15rem;
    padding: 0.2rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    background: rgba(255, 0, 0, 0.445);
    margin: 1rem;
    text-shadow: 0 0 0.2px;
    box-shadow: 0 0 20px; 
}
.menu__button:hover{
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.445);
    text-shadow: 0 0 20px;
    outline-offset: 25px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu-img {
    align-self: center;
}
/**************** about game - instrukcja gry **************/
.about-container {
    background: grey;
    height: 97vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    width: 50vw;
    height: 70vh;
    color: rgb(26, 25, 25);
    background-color: rgb(241,205,124);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0 0 40px; 
}
.about__text {
    font-size: 1.5rem;
    padding: 0 2rem;
}
.about__img {
    width: 6rem;
    height: 5rem;
}
.u--visible {
    margin: 0 auto;
    position: absolute;
    visibility: visible;
    opacity: 1;
    filter: blur(0);
    transition: filter 1s, opacity 1s;
}
.u--blur-fadeout {
    display: none;
    filter: blur(30px);
    opacity: 0;
    transition: filter 1s, opacity 1s;
}