* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("img/background-image.png");
}

.container {
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box {
    font-size: 12rem;
    position: relative;
    background-image: url("img/pizza.png");
    width: 360px;
    height: 360px;
    
}

.animal {
    position: absolute;
    font-size: 4rem;
    padding: 0.4rem;
    top: -4rem;
    line-height: 1;
    left: calc(0%);
    transition: all .5s;
    transform: translateY(0);
    transform: translateX(0);
    z-index: 9999;
}

.animation {
    animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }
    
    20%, 80% {
      transform: translateX(2px);
    }
  
    30%, 50%, 70% {
      transform: translateX(-4px);
    }
  
    40%, 60% {
      transform: translateX(4px);
    }
}

/*********************************
    STYLES FOR DELIVER GAME
**********************************/

:root {
    --carPositionX: 0px;
    --carPositionY: 0px;
}

.deliver-map {
    width: 1120px;
    height: 720px;
    background: lightgray;
    position: relative;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
}

.home {
    background-image: url("img/bulding-top-4.png");
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
}

.car {
    display: inline-block;
    background-image: url("img/delivery car.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: var(--carPositionY);
    left: var(--carPositionX);
    width: 80px;
    height: 80px;
    transition: top 0.5s, left 0.5s, transform 0.1s;
    transform: rotate(90deg);
}

.deliver {
    position: absolute;
    background-image: url("img/destination-icon.png");
    width: 80px;
    height: 80px;
    z-index: 999999;
    animation: jump 1s linear infinite;
}

@keyframes jump {
    0% {
        transform: translateY(-20px);
    }
  
    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(-20px);
    }

  }

.wrong-way {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: red;
    transition: all 0.1s;
}

.winner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: green;
    color: white;
    font-size: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
