.main-functions {
    width: 100%;
    background-color: #ffcc66;
    height: 100%;
}

.main-functions__heading {	
    font-size: 3rem;	
    text-align: center;	
    padding: 2rem;	
}	
 .main-function__box {		
    display: flex;	
    flex-flow: row wrap;
    justify-content: space-evenly;	
    height: 20rem;
    align-content: space-between;
}	

.main-function__img-container {	
  display: inline-block;	
  height: 1rem;	
  width: min-content;	
}	

 .main-function__img-container__img {	
    max-width: 14rem;	
    height: auto;	
    padding: 5px;	
}	
.main-function__img-container__caption {	
    font-size: 1.5rem;	
    text-align: center;	
}

/******************* rwd ***************************/
@media only screen and (max-width:900px) and (min-width:441px) {
   .main-function__box {		
    display: flex;	
    flex-direction: row;	
    justify-content: space-evenly;	
    flex-wrap: wrap;
    height: 55vh;
  }	
}

@media only screen and (orientation: landscape) {
    .main-function__box {		
        display: flex;	
        flex-direction: row;	
        justify-content: space-evenly;	
        flex-wrap: wrap;
        height: 30vh;
      }	  
}

@media only screen and (max-width:440px) {
    .main-function__box {
      height: 80vh;
}
