.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #CC3333;
}

.main-nav__logo {
    width: 110px;
    height: 100%;
    background: blue;
}

.navToggle {
    display: none;
}