.container {
    background-image: url(pizzagame.png);
    background-size: cover;
    color: rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    font-family: 'VT323', monospace;
    font-size: 7rem;
    height: 80vh;
    justify-content: center;
    text-align: center;
    width: 70vw;
}
